.color-rect, .color-rect-usr, .color-rect-usrspd {
	width: 10em;
	height: 10em;
	border-color: #000;
	border-style: solid;
	border-width: 0.25em;
	display: inline-block;
	padding: 0.5em;
}

.text-centered {
	text-align: center;
}